.mdl-mini-footer {
  background-color: rgba(84,80,74,1);
}

.mdl-color-text--accent {
  color: rgba(255,193,7,1);
}

.mdl-color-text--light {
  color: rgba(255,255,255,1);
}

.mdl-layout__header-row .mdl-navigation__link {
  color: rgb(66, 66, 66);
}

.mdl-color-background--accent {
  background-color: rgba(255,193,7,1);
}

.mdl-color-background--primary {
  background-color: rgba(237,234,225,1);
}

.mdl-grid {
  max-width: 1024px;
}

.mdl-card__actions a {
  color: rgba(255,255,255,1);
}


.init_hidden {
  display: none;
}

.mdl-mini-footer {
  padding-top: 15px;
}

.mdl-card__media {
    margin: 0;
    max-width: 100%;
}

.mdl-mini-footer__right-section a {
  color: rgb(66,66,66);
}

/* Drawer Logo */
#drawerTitle {
  background-color: rgba(84,80,74,1);
  height: 64px;
  border: none;
}

/* Footer Logo */
#footerTitle {
  background-color: rgba(84,80,74,1);
  font-size: 16px;
  border: none;
}

/* Main Article*/

#mainArticle {
  max-width: 2000px;
}

#mainArticle .mdl-card {
  position: relative;
  height: 600px;
  width: 100%;
  background: url('../img/Portland_Weird.jpg') center / cover;
  color: rgba(0,0,0,0.7);
}

#mainArticleContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.3);
}

#mainArticle .mdl-card__title {
  color: rgb(255, 255, 255);
}

#mainArticle .mdl-card__supporting-text {
  color: rgb(255, 255, 255);
}

/* Main Feed Articles */
#mainFeed .mdl-card {
  height: 228px;
}

#mainFeed .mdl-card__title {
  height: 176px;
  background-color: rgba(0,0,0,0.3);
}

#mainFeed .mdl-card__title h3 {
  color: rgb(255,255,255);
  position: absolute;
  top: 110px;
  left: 10px;
  padding: 0;
  margin: 0;
}

#mainFeed .mdl-card__title p {
  color: rgb(255,255,255);
  position: absolute;
  top: 150px;
  left: 10px;
  padding: 0;
  margin: 0;
}

#mainFeed .mdl-card__actions {
  background: rgba(0,0,0,0.3);
}

#mainFeed .mdl-cell--12-col .mdl-card {
  width: 100%;
}

/* Featured Article */
#mainFeed .mdl-cell--8-col .mdl-card {
  width: 666px;
}

/* Admin Control Panel*/
#adminLoginLink {
  position: absolute;
  bottom: 0px;
  margin: 0px;
  color: rgba(237,234,225,1);
}

#adminLoginLink:hover {
  color: rgba(255,193,7,1);
}
